.icon-group {
  display: inline-block;
}

.icon-button {
  text-decoration: none;
  color: inherit; /* This will ensure the icons retain their original color */
  transition: color 0.3s;
}

.icon-button:hover {
  color: #007bff; /* Change color on hover, for example to Bootstrap primary color */
}
